In [2]:
import numpy as np
import pandas as pd
import matplotlib
from matplotlib import pyplot as plt
import streamlit as st

In [5]:
st.__version__

'1.32.2'

In [3]:
URL = "https://raw.githubusercontent.com/marcopeix/MachineLearningModelDeploymentwithStreamlit/master/12_dashboard_capstone/data/quarterly_canada_population.csv"
df=pd.read_csv(filepath_or_buffer=URL,
               dtype={
                   "Quarter": str,
                   'Canada': np.int32,
                   'Newfoundland and Labrador': np.int32,
                   'Prince Edward Island': np.int32,
                   'Nova Scotia': np.int32,
                   'New Brunswick': np.int32,
                   'Quebec': np.int32,
                   'Ontario': np.int32,
                   'Manitoba': np.int32,
                   'Saskatchewan': np.int32,
                   'Alberta': np.int32,
                   'British Columbia': np.int32,
                   'Yukon': np.int32,
                   'Northwest Territories': np.int32,
                   'Nunavut': np.int32
               })

In [4]:
df.head()

,Quarter,Canada,Newfoundland and Labrador,Prince Edward Island,Nova Scotia,New Brunswick,Quebec,Ontario,Manitoba,Saskatchewan,Alberta,British Columbia,Yukon,Northwest Territories,Nunavut
0,Q3 1991,28037420,579644,130369,914969,745567,7067396,10431316,1109604,1002713,2592306,3373787,28871,38724,22154
1,Q4 1991,28127327,579549,130360,916896,745886,7080336,10465562,1109400,1000942,2604031,3404049,29142,38854,22320
2,Q1 1992,28181477,579425,130604,917302,746571,7082645,10488022,1109978,1001136,2611786,3423217,29239,39055,22497
3,Q2 1992,28269699,579761,130812,917555,747232,7096705,10528346,1111050,1002831,2620771,3443237,29510,39230,22659
4,Q3 1992,28371264,580109,130827,919451,748121,7110010,10572205,1112689,1003995,2632672,3468802,30084,39416,22883

In [16]:
df.loc[df['Quarter']=="Q3 1991",'Nova Scotia'].index.item()

0